.min-h-content-screen {
  min-height: calc(100vh - 56px);
}

.h-content-screen {
  height: calc(100vh - 56px);
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

* {
  transition: background-color 0.5s ease-in-out, color 0.2s ease-in;
}

@media screen and (min-width: 1024px) {
  main {
    padding-left: 288px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    padding-left: 320px;
  }
}
